<div ng-controller="GameController as game">

	<div class="row">
		<a href="#">{{game.tournament}}</a>
		>
		<a href="#">{{game.playerOne}}</a>
		vs
		<a href="#">{{game.playerTwo}}</a>
	</div>

	<div class="row">
		<h4>
			Waiting on
			<span ng-if="game.currentPlayer == 1">
				{{game.playerOne}}
			</span>
			<span ng-if="game.currentPlayer == 2">
				{{game.playerTwo}}
			</span>
		</h4>
	</div>

	<div class="row">
		<div id="gameboard">
		  <% for(var i=0; i<3; i++) { %>
			<div id="<%= i %>" class="BigRow">
			  <% for(var j=0; j<3; j++) { %>
				<div id="<%= "" + i + j %>" class="BigTile open">
				  <% for(var k=0; k<3; k++) { %>
					<div id="<%= k %>" class="SmallRow">
					  <% for(var l=0; l<3; l++) { %>
						<button id="<%= ("" + i + j + k + l) %>" type="button" class="btn btn-default SmallTile" 
						ng-click="game.clickTile('<%= ("" + i + j + k + l) %>')" 
						ng-class="game.classUpdate('<%= ("" + i + j + k + l) %>')"
						ng-disabled="game.disableCheck('<%= ("" + i + j + k + l) %>')"
						>
						{{tileMarker['<%= ("" + i + j + k + l) %>']}}
						</button>
					  <% } %>
					</div>
				  <% } %>
				</div>
			  <% } %>
			</div>
		  <% } %>
		</div>
	</div>

	<div class="row">
		<!-- <span class="col-md-4"> -->
			<button class="btn btn-default" type="button" id="resetBoard">Reset Board</button>
			<button class="btn btn-default" type="button" id="playRandom">Play Random</button>
		<!-- </span> -->
		<a href="#" class="btn btn-primary col-md-offset-1">Confirm</a>
	</div>

</div>